$telegram-blue: #1f304b;
$telegram-blue-dark: #2d4671;
$telegram-blue-hover: rgb(1, 150, 199);
$telegram-text-color: #f5f5f5;

$border: 1px solid rgba(190, 190, 190, 0.1);

$height-width-600-768: 3.2em;
$height-width-425-600: 3em;
