@import "./Variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $telegram-blue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
.MuiIconButton-root {
  padding: 8px !important;
}
::-webkit-scrollbar {
  display: none;
}
::placeholder {
  color: $telegram-text-color;
}

//// --------------------MEDIA QUERIES--------------------------
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  * {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  * {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  * {
    font-size: 12px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  * {
    font-size: 9px;
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  * {
    font-size: 7px;
  }
}
